body {
    background-color: #21222c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    font-family: "Courier New", Courier, monospace;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fcfcfa;
    border-radius: 24px;
    text-align: center;
    box-shadow: 8px 8px #bd85c7;
}

h1 {
    font-size: 28px;
    color: #21222c;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    font-family: "Courier New", Courier, monospace;
    width: 440px;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 4px;
    border: 2px solid #6272a4;
    border-radius: 40px;
    font-size: 16px;
    background-color: #6272a4;
    color: #fcfcfa;
}

input[type="email"]:focus {
    border-color: #6272a4;
    outline: none;
}

input::placeholder {
    color: #fcfcfa;
    opacity: 1;
}


button[type="submit"] {
    font-family: "Courier New", Courier, monospace;
    padding: 10px 20px;
    background-color: #fcfcfa;
    color: #ac5fc6;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    border: 2px solid #ac5fc6;
    margin: 2px;
}

button[type="submit"]:hover {
    background-color: #ac5fc6;
    color: #fcfcfa;
}

.highlight {
    color: #bd85c7;
}