body {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    font-family: "Courier New", Courier, monospace;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 24px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    font-family: "Courier New", Courier, monospace;
    width: 440px;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 4px;
    border: 2px solid #ececec;
    border-radius: 40px;
    font-size: 16px;
    background-color: #ececec;
}

button[type="submit"] {
    font-family: "Courier New", Courier, monospace;
    padding: 10px 20px;
    background-color: #fff;
    color: #d16899;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    border: 2px solid #d16899;
    margin: 2px;
}

button[type="submit"]:hover {
    background-color: #d16899;
    color: #fff;
}