body {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    font-family: "Courier New", Courier, monospace;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

input[type="email"] {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    font-family: "Courier New", Courier, monospace;
    padding: 10px 20px;
    background-color: #d16899;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #a14b77;
}