.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.submit-button {
    background-color: white;
    color: rgb(136, 68, 199);
    padding: 10px 16px;
    border: 2px solid rgb(136, 68, 199);
    border-radius: 30px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(136, 68, 199);
    color: white;
}

.input-field {
    padding: 10px 16px;
    border: 2px solid rgb(136, 68, 199);
    border-radius: 30px;
    margin: 16px;
}